@font-face {
    font-family: HomemadeApple;
    src: url("../../../public/fonts/HomemadeApple-Regular.ttf");
}

.experiencesContent {
    font-size: 1.45em;
    text-align: center;
    line-height: 1.2em;
    font-family: "HomemadeApple";
    white-space: nowrap;

    h2 {
        width: 100%;
        font-size: 1.8em;
    }

}