@font-face {
    font-family: HomemadeApple;
    src: url("../../../public/fonts/HomemadeApple-Regular.ttf");
}

.experiencesContent {
    text-align: center;
    max-width: 100px;
    font-family: "HomemadeApple";
}