#interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: #333;
}

.controls-wrapper {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    display: flex;
    justify-content: center;
}

.home-button {
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border: none;
    border-radius: 99%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    pointer-events: all;
    font-size: 1.25rem;
}

.interface-controls {
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

    /* glass effect */
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    pointer-events: all;
}

.interface-controls button {
    background-color: transparent;
    width: 3.25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 99%;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 700;
    transition: 0.2s ease;
}

.interface-controls button:disabled {
    transition: 0.2s ease;
}

.step {
    min-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}