@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans-Medium.ttf");
}

html,
body,
#root {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #241a1a;
    font-family: "OpenSans";
    box-sizing: border-box;
}

.label {
    div {
        font-family: Helvetica, Arial;
        position: absolute;
        background: #00000088;
        color: white;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 30px;
        user-select: none;
    }
}

.App {
    display: flex;

    .appChildren {
        border: 1px solid red;
        flex: 1;
    }
}


li {
    list-style: none;
    margin: 0 10px;
}

ul {
    display: flex;
    padding: 0;
}

nav,
ul {
    border-radius: 10px;
}

canvas {
    pointer-events: none;
    height: 100vh;
    width: 50vw;
    cursor: default;
    touch-action: none !important;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #241a1a;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(129, 129, 129);
}


// NAVBAR
.interface-controls button {
    background-color: transparent;
    width: 3.25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 99%;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 700;
    transition: 0.2s ease;
}